.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding-top: 50px;
    z-index: 0;
}

.navbar-dark{
    background-color: #512DA8;
    opacity: 0.5;
}
.btn{
    margin-right: 20px;
}
.fa-phone{
    color: #3b60e4;
}
.fa-skype{
    color: #2e58f0;
}
.fa-envelope-o{
    color:#44b159;
}
.card-header{ 
    background-image: linear-gradient(to right,rgb(183,182,204), rgb(201,186,222));
}
.navbar-brand > img{
    height: 30px;
    width: 49px;
    opacity: 1;
}
img{
    border-radius: 50%;
}
.img-thumbnail{
    border-radius: 50%;
}
